*{
	padding: 0;
	margin:	0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
body{
	background-image: 
		url("../images/corona3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Spartan', san-serif;
}

h1{
	padding-bottom: 100px;
	color: #f5f5f7;
}
h4{
	padding: 20px 40px;
	background-color: #263238;
	color: #f5f5f7;
}

p,
label,
strong,
em,
small,
ol,
li{
	font-family: 'Open Sans', san-serif;
}


#navbar-section .navbar{
	background-color: #263238;
	color: #f5f5f7;
}

.nav-link:hover{
	background-color: #b71c1c;
}

#btnScreen{
	width: 250px;
	height: 50px;
	font-size: 25px;
	background-color: transparent;
	color: #f5f5f7;
	border: 2px solid #f5f5f7 ;
}

#btnScreen:hover{
	background-color: #b71c1c;
}

.container{
	padding-top: 100px;
}
#conWelcome{
	width: 100vw;
	height: 90vh;
}
.welcome{
	text-align: center;
	color: #f5f5f7;
}
#tagline{
	padding-top: 200px;
	font-weight: bolder;
	font-size: 25px;
}


/*screen tool modal and result*/
.modal-header{
	background-image: 
		url("../images/header.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
}
.modal-footer{
	background-image: 
		url("../images/footer.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#modalHeading{
	padding-left: 100px;
}
#modalTitle{
	font-family: 'Spartan', san-serif;
	font-size: 35px;
	font-weight: bold;
	color: #f5f5f7;
	padding-top: 15px;
	padding-right: 100px;
}
#row-entity{
	text-align: center;
	padding-top: 20px;
}

#imgModal{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

#screenEntity,
#screenForm,
#resultSection{
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
}
.modalP{
	padding-top: 30px;
}
.instHeading{
	padding-bottom: 20px;
}
.screenRadio{
	margin-left: 25px;
}

.divResult{
	padding-top: 25px;
}

#result,
#description{
	padding-left: 40px;
}

a{
	color: #04005e;
}
a:hover{
	text-decoration: none;
}

/*.fas{
	color: #04005e;
}
*/
/*Back to top button*/
#up-arrow{
	background-color: #f5f5f7;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	bottom: 30px;
	right: 30px;
	position: fixed;
	z-index: 5;
}
#up-arrow:hover{
	background-color: #d32f2f;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}




/*FAQ Section*/
#accordion,
#accordion2,
#accordion3,
#accordion4{
	padding-bottom: 50px;
}

/*Emergency Hotline*/
#hotline{
	padding-top: 20px;
	padding-left: 40px;
	background-color: #263238;
	color: #f5f5f7;
}
.linkHotline{
	padding-left: 40px;
	padding-bottom: 20px;
}



/*page footer*/
#footer-container{
	height: 100%;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
	color: #f5f5f7;
	font-size: 12px;
}
.row-footer{
	padding-top: 25px;
}
.row-disclaimer,
.row-dev{
	padding-left: 100px;
	padding-right: 75px;
}
#row-dis-cont{
	background-color: #263238;
	padding-bottom: 20px;
}
#copyright{
	background-color: #000000;
	padding-top: 20px;
	text-align: center;
}






/*mobile*/
@media only screen and (max-width: 400px){

	#disclaimer{
		padding-top: 20px;
	}
	.row-disclaimer,
	.row-dev{
		padding-left: 0px;
		padding-right: 0px;
	}
	h4{
		padding: 20px 10px;
		text-align: center;
	}

	#tagline{
		padding-top: 205px;
		font-weight: bolder;
		font-size: 20px;
	}
	#btnScreen{
		width: 200px;
		height: 50px;
		font-weight: bold;
		font-size: 20px;
	}
	#modalTitle{
		font-size: 25px;
		padding-right: 35px;
	}
}


/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){

	#disclaimer{
		padding-top: 20px;
	}
	.row-disclaimer,
	.row-dev{
		padding-left: 25px;
		padding-right: 0px;
	}
	#conWelcome{
		width: 100vw;
		height: 90vh;
	}
	#tagline{
		padding-top: 375px;
		font-weight: bolder;
		font-size: 30px;
	}
	#btnScreen{
		width: 400px;
		height: 75px;
		font-size: 30px;
		font-weight: bold;
	}
}

